* {
  margin: 0;
  padding: 0;
  /*
    -content-box 
    ancho  => suma de width+padding+border
    altura => suma de heith+padding+border
    -border-box
  */
  box-sizing: border-box;
}

span {
  display: block;
}
.contenedor {
  position: relative;
  background-color: lightgray;
  /* 
    Ancho 
    --------------------------------------
    width: me permite definir el ancho de 
    un elemento. Recibiendo valores que
    pueden ser:
      - pixeles (valor absoluto) => 50px
      - porcentuales (%) => 50%

    Alto
     --------------------------------------
    height: me permite definir el ancho de 
    un elemento. Recibiendo valores que
    pueden ser:
      - pixeles (valor absoluto) => 50px
      - porcentuales (%) => 50%
  */
  width: 500px;
  height: 500px;

  overflow: hidden;
}

.caja {
  background-color: crimson;
  color: white;
  /* display: inline-block; */
  font-size: 32px;
  height: 100px;
  text-align: center;
  width: 100px;

  /* margen 
  ------------------------------------
    margin: es la distancia que existe
    entre los elementos

     margin-left:80px;
     margin-bottom: 3px;
     margin-top: 10px;
     margin-right: 15px;

     - 1 solo valor a margin. Este valor 
     aplicara a todos los lados
       margin: 10px;

    - 2 valores.El 1 va aplicar arriba y
    abajo. El segundo hacia los lados

      margin: 10px 50px;
    
    - 3 valores
      - top
      - horizontal (left, right)
      - bottom

      margin: 10px 5px 4px;
    - 4 valores: En el sentido de las 
    manecillas del relojo
      -top
      -right
      -bottom
      -left
  */
  /* margin: 5px 10px 15px 20px; 
  
    Padding Relleno
    padding: 10px;
  */
  margin: 10px;
  padding: 10px;



  /*
    border: 3 valores
    border: 
        - el tamaño (ancho el del borde)
        - tipo (estilo/style)
        - color 

    Tipo:
      - solid  (linea continua)
      - dotted (linea punteada)
      - dashed (linea cortada)
      - double (doble linea)

      border-style: dotted;
      border-color: white;
      border-width: 5px;
      */

  border: 8px white double;

  

}
.relativa {
  /*
      position: por defecto es static
      -relative: desplaza tomando como referencia su posicion inicial
      -absolute: tiene como referencia el body siempre y cuando no este contenido en un elemento con posicion relativa. Si es
      asi tomara como referencia los extremos del elemento que lo contiene
      -fixed: Toma como referencia el body.Y se mantiene fijo por mas de que haya un scroll
      Y tanto absolute y fixed salen del flujo
      
  */
  position: relative;
  /*
    top, left , bottom,  right
  */
  top: 30px;
  right: 10px;
}
.espacio{
  height: 800px;
}

.absoluta {
  position: absolute;

  right: 10px;
}

