  /*
  tipo_selector{
        propiedad1: valor1;
        propiedad2: valo2;
  }
  Tipo elemento o etiqueta*/
  h3 {
    /*
      Puedo definir un color:
      - paleta disponible de 144 colores
      - en formato hexadecimal
      - con funciones como rgb, hsl 
---------------------------------------------
    6 digitos 0-9 A-F 
    #6digitos
-------------------------------------------
    rgb(1 valor, 2 valor, 3valor) 0 - 255
    blue
        - rgb(0,0,255)
------------------------------------------
    rgba(3valores son idem, 4 alpha)
    */
    background-color: lightgrey;
    color: rgba(0, 0, 255, 0.812);
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
  }
  p{
    color: blue;
  }

  p{
    color:green;
    text-align: center;
  }
  
  body {
    background-color: lightgray;
  }

  /* selector de clase
  
    .nombre{
        propiedad1: valor1;
    }
  
  */
  .text-left{
    text-align: left;
  }

  .text-right{
    text-align: right;
  }
  
  /* Selector de ID 
    #nombreDelId{
      propiedad: valor
    }

  */
  #segundo{
    color: crimson;
  }

  #parrafo2{
    text-align: left;
  }

 