
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap');

body{
  font-family: 'Poppins', monospace;
}
h1{
  font-weight: 200;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
/*
  background-repeat:
  - repeat      (por defecto)
  - no-repeat   (se imprime una unica vez sin
  repeticion)
  - repeat-x
  - repeat-y
  ------------------------
  background-position: 
  (x , y)
  - top, left, right, bottom
  - pixeles
  ------------------------
  background-size: 
  (200px 300px)
  -auto      (valor defecto)
  -cover     (cubre el 100% del fondo y muestra
  la mayor cantidad posible de la imagen) 
  -contain   (  )

*/
.contenedor{
  background-color: salmon;
  background-image: url('../img/sun.png');
  background-repeat: repeat-x;
  background-position: 10px 100px;
  background-size: 15%;
}

.contenedor-dos{
  background-color: salmon;
  background-image: url('../img/bg.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
    shortHand: una propiedad abreviada
    background-position: x y
    --------------------------
    background-position-x: ;
    background-position-y: ;
*/
.contenedor-tres{
  background-color: salmon;
  background-image: url('../img/sun.png');
  background-position-x: 50px;
  background-position-y: 150px;
  background-repeat: no-repeat;
}

/*
  shortHand
  background:
  -----------------
  background-color 
  background-image 
  background-repeat 
  background-position
*/
.contenedor-cuatro{
  background: 
  center
  no-repeat
  url('../img/sun.png')
  salmon 
}

.contenedor-cinco{
  background-color: salmon;
  background-image: 
  url('../img/sun.png'),
  url('../img/sun.png'),
  url('../img/bg.jpg');
  background-position: 
  center,
  center,
  top;
  background-repeat: 
  repeat-x,
  repeat-y,
  no-repeat;
  background-size: 
  auto,
  auto,
  cover;
}

.fijar-imagen {
  background-attachment: fixed;
}