* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container{
  background-color: crimson;
  height: 900px;
  margin: 50px auto;
  overflow: hidden;
  width: 98%;
}

.spiderman{
  display: block;
  margin: 0 auto;
  /* animation: nombre_animacion duracion; */
 /*  animation: peterparker 3s; */
 animation-name: peterparker;
 animation-duration: 4s;
 animation-iteration-count: infinite;
 animation-play-state: paused;
 animation-timing-function: ease-in-out;
 
}

.container:hover .spiderman{
  animation-play-state: running;
}
.container:active .spiderman{
  animation-direction: reverse;
}

@keyframes peterparker {
    0%{
      transform-origin: center bottom;
      transform: translateY(-600px);
    }
    60%{
      transform: rotate(10deg);
    }
    80%{
      transform: rotate(-10deg) translateY(-300px);
    }
    100%{
      transform: translateY(-500px);
    }
    /* to{

    }
    from{

    } */
    
}

img.corazon{
  display: block;
  margin: 1rem auto;
  animation: beat 1s infinite linear;
}

@keyframes beat {
    to{
      transform: scale(1.5);
    }
}

