@import 'variables';
@import 'general';
@import 'header';

@mixin makeButton($bgColor, $txtColor, $width:150px, $height:50px) {
  background-color: $bgColor;
  border: none;
  color: $txtColor;
  display: block;
  height: $height;
  margin: 1rem auto;
  width: $width;
}

.btn-alert{
  @include makeButton(crimson,white,120px,40px)
}
.btn-warning{
  @include makeButton(yellow,white)
}
.btn-success{
  @include makeButton(green,white)
}



.header{
    margin: 1rem;
    &__logo{
      width: 100px;
    }
}