
@import "mixins";
@import "general";
@import "header";

.btn_padre {
  display: block;
  height: 50px;
  margin: 1.2rem auto;
  text-align: center;
  width: 100px;
}

.btn-alert {
  @extend .btn_padre;
  @include setBtn(crimson);
}
.btn-warning {
  @extend .btn_padre;
  @include setBtn(yellow, black);
}
.btn-success {
  @extend .btn_padre;
  @include setBtn(green, black);
}

.header {
  margin: 1rem;
  &__logo {
    width: 100px;
  }
}

$entorno: nada;
p {
  @if $entorno == desarrollo {
    font-size: 4rem;
    color: blue;
  } @else if $entorno == produccion {
    font-size: 2rem;
    color: green;
  } @else {
    font-size: 1rem;
    color: black;
  }
}

$heroes: batman, superman, wonderwoman, robin;

@each $heroe in $heroes{
    .bg-#{$heroe}{
      background-image: url("images/superheroes/#{$heroe}.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
}