<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Otro HTML</title>
</head>

<body>
  <h4>Yo soy el otro</h4>
  <br><br>
  <a href="../index.html">volver al index</a>
  <br><br>

  <img src="https://play-lh.googleusercontent.com/xD78B_Wcf9q5iWhKIQS8n1NwdfkVFDJjjUubkcd6rHaiHpOYmFVMoeQ5hbomDGekvhQ"
    alt="logo de digital house">

  <a href="https://www.digitalhouse.com/">
    <img src="../img/logo.png" alt="logo de digital house">
  </a>

</body>

</html>